#bg-img {
    height: 800px;
    width: 100%;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}


.secondary-header {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    background-color: @secondary-bg;
    width: 100%;

    .secondary-header-text {
        width: 40%;
    }
    .secondary-header-img {
        width: 60%;
    }
}