#bg-img {
    height: 800px;
    width: 100%;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}


.secondary-header {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    background-color: @secondary-bg;
    width: 100%;
    padding: 0 80px;
    font-family:  'Open Sans';
    .secondary-header-text {
        text-align: left;
        color: @secondary-text;
        width: 40%;

        .statement {
            p {
                font-size: 2.2rem;
                line-height: 3.8rem;
            }
            h2 {
                font-size: 5rem;
                padding: 0 0 30px 0;

                color: @secondary-h2;
            }
        }

        button {
            .button() ;
        }
    }
    .secondary-header-img {
        width: 60%;
    }
}